/* Geral */

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1900px;
    margin: 0 auto ;
}

section{
    max-width: 1600px;
    margin: 0 auto;
 }

/* Media queries */
@media (max-width: 900px){
    header{
        padding: 60px 0;
    }

    header h1{
        margin: 20px;
        font-size: 48px;
    }
    
    header h2{
        font-size: 15px;
    }
    
    header h3{
        font-size: 12px;
    }
    

}

/* Header */
header{
   background-image: linear-gradient(rgba(0,0,0,0.8),rgba(255,255,255,0.3)), url(../resources/images/hero-background.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   text-align: center;
   padding: 200px 0;
   color: white;
}

header h1{
    font-weight: 700;
    font-size: 96px;
    line-height: 1;
    font-family: 'Abril Fatface', cursive;
    text-transform: uppercase;
    margin:30px 0;
}

header h2{
    font-weight: 400;
    font-size: 30px;
    line-height: 1;
    margin: 0;
}

header h3{
    font-weight: 900;
    font-size: 24px;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
}

header a{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: whitesmoke;
    padding: 10px 12px;
    border:none;
    border-radius: 4px;
    color: #272044;
    display: inline-block;
    margin-top: 30px;

}

/* Footer */
footer{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,09)), url(../resources/images/footer-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
    color: white;
 }

 footer h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
 }

 footer a{
    color: white;
    opacity: 0.7;
   
 }

 footer ul {
    padding: 0;
 }

 footer li{
   list-style: none;
   margin: 0;
   padding: 0;
 }

 footer p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
    opacity: 0.7;
    margin-left: 5px;
 }


.grid{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
}